<div class="main">
  <header>
    <h1>Учет затрат по обслуживанию автомобиля</h1>
    <app-input [place]="'Марка автомобиля'" class="model"></app-input>
    <button (click)="onAdd($event)" class="btn">Сохранить</button>
    <div class="show">{{car}}</div>
  </header>
  <div>
    <app-input [text]="text" class="text" [place]="'Наименование затрат'"></app-input> <br>
    <app-input [text]="price" class="price" [place]="'Цена'"></app-input> <br>
    <button class="btn" (click)="addPoint($event)">Добавить</button>
  </div>
  <div class="main__point">
    <div *ngFor="let elem of arrEnd; let i = index" class="card">
      <p>{{i+1}}</p>
      <h3>{{elem[0]}}</h3>
      <h3>{{elem[1]}}</h3>
      <p>{{elem[2]}}</p>
      <div class="image" (click)="remove(i)">
      </div>
    </div>
    <h3>Итоговая сумма затрат: {{all}}</h3>
    <button class="btn" (click)="onSave($event)">Сохранить</button>
  </div>
  <footer>
    <h3>Предложения по изменению приложения</h3>
  </footer>
</div>
